@use "../abstracts" as *;

.footer {
  padding-top: 1.8rem;
}

.attribution {
  text-align: center;
  padding-top: 1.5rem;
  font-size: size(12);
  opacity: 0.8;
  a:hover {
    color: clr(brand, bright);
    @extend %transition;
  }
}