@use "../abstracts" as *;

.btn {
  cursor: pointer;
  max-width: 20rem;
  padding: 1.4rem 6.4rem;
  border-radius: 2.7em;
  font-size: size(18);
  background: clr(neutral, light);
  color: clr(brand, dark);
  @extend %transition;
  &:hover {
    background: clr(brand, normal);
    color: clr(neutral, light);
  }
}
