@use "../abstracts" as *;

.bg {
  background-image: url("../assets/images/bg-mobile.svg");
  background-color: clr(brand, dark);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  @include mq-large {
    background-image: url("../assets/images/bg-desktop.svg");
    background-position: left top;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}