@use "sass:map";
@use "../abstracts" as *;

html {
  font-size: 10px;
  min-height: 100vh;
  font-family: $ff-text;
}

body {
  font-size: size(17);
  color: clr(neutral, light);
  text-align: center;
  @include mq-medium {
    text-align: start;
    font-size: size(18);
  }
}

h1,
button {
  font-family: $ff-accent;
}

h1 {
  font-size: size(24);
  font-weight: 600;
  @include mq-large {
    font-size: size(40);
  }
}